* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient( #124fa4, #8c0cc3);
}
.clock {
    background-color: black;
    color: white;
    border-radius: 3px;
    text-align: center;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.clock span {
    margin: 0 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.label {
    font-size: 3px;
    margin-top: 10px;
    color: rgba(255, 255, 255, 0.385);
}
.end {
    color: rgba(255, 255, 255, 0.385);
}